# Gradle
build
.gradle
local.properties
out
gradle.properties

# Maven (examples)
target

# Bazel
bazel-bin
bazel-examples
bazel-genfiles
bazel-grpc-java
bazel-out
bazel-testlogs

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings
bin

# OS X
.DS_Store

# Emacs
*~
\#*\#

buid/
data/
install/
lib/
lucene8x/
primary_state/
replica_state/
serverPrimary/
serverSecondary/
server1RootDirName1/
primary_index_base/
replica_index_base/
